<!DOCTYPE html>
<html lang="en">
  <%- include('./particals/head.ejs') %>
<body>
  <%- include('./particals/nav.ejs') %>
  <h1>Contacts:</h1>
  <ul>
    <% if (contacts.length) {%>
      <% contacts.forEach(({name, link}) => { %>
        <li >
          <a href="<%= link %>"><%= name %></a>
        </li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>